[project]
	description = CS3733 Sixes Wild Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Arthur Lockman (arthurlockman)
[access "refs/for/refs/*"]
	read = group user/Arthur Lockman (arthurlockman)
	push = group user/Arthur Lockman (arthurlockman)
	label-Code-Review = -2..+2 group user/Arthur Lockman (arthurlockman)
	label-Verified = -1..+1 group user/Arthur Lockman (arthurlockman)
	rebase = group user/Arthur Lockman (arthurlockman)
	removeReviewer = group user/Arthur Lockman (arthurlockman)
	submit = group user/Arthur Lockman (arthurlockman)
[access "refs/heads/*"]
	read = group user/Arthur Lockman (arthurlockman)
	create = group user/Arthur Lockman (arthurlockman)
	push = +force group user/Arthur Lockman (arthurlockman)
	pushMerge = group user/Arthur Lockman (arthurlockman)
[access "refs/tags/*"]
	push = +force group user/Arthur Lockman (arthurlockman)
	pushTag = group user/Arthur Lockman (arthurlockman)
	pushSignedTag = group user/Arthur Lockman (arthurlockman)
